a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.search-bar {
  background-color: #1c1f28;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border: 2px solid #646cff;
  box-shadow: 0 0 0 4px #1c1f28;
  gap: 10px;

  /* gap: 10px;
  justify-content: center;
  position: relative;
  padding: 10px 30px;
  height: 85px;
  width: 600px; */

}

/* .search-bar::before {
  content:"";
  position: absolute;
  inset: 0;
  border: 4px solid transparent;
  border-radius: 30px;
  background: linear-gradient(to left, #EC83BB, #B664DB);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,  linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; 
  mask-composite: exclude;

}
.search-bar .input {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 600px;
}

.search-bar .search {
  height: 52px;
  position: relative;
  width: 50px;
}
*/
.search-bar .text-wrapper {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica, system-ui;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.85px;
  position: relative;
  border: none;
  width: 100%;
  left: 10%;
  background-color: transparent;
  outline: none;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.search-bar .send {
  height: 70px;
  position: relative;
  width: 71px;
} 
.imageContainer {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272B34;
}
.searchIcon {
  height: 35px;
  width: auto;
}